/vendor/
/tests/cache/
/composer.lock
.php_cs.cache
/var/
.idea
clover.xml
/tests/coverage
/tests/QualityTools/vendor/
/tests/QualityTools/.idea/
/tests/QualityTools/composer.lock
.phpunit.result.cache
