includes:
    - tests/QualityTools/vendor/phpstan/phpstan-strict-rules/rules.neon
    - tests/QualityTools/vendor/localheinz/phpstan-rules/rules.neon
    - tests/QualityTools/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: 3
    paths:
        - src
    ignoreErrors:
        - '#In (method|function).*type-hinted.*More info#'
        - '#In (method|function).*return type can be added..*More info#'
        - '#(Method|Function|Constructor).*has parameter.*with.*default value.#'
        - '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder constructor#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\).#'
        - '#Class Algolia\\SearchBundle\\Services\\NullSearchService is neither abstract nor final.#'
