<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php" convertDeprecationsToExceptions="false">
    <php>
        <env name="KERNEL_CLASS" value="Algolia\SearchBundle\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="false" />
        <env name="ALGOLIA_PREFIX" value="sf_phpunit_" />
        <env name="TRAVIS_JOB_NUMBER" value="" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>
    <testsuites>
        <testsuite name="TestCase">
            <directory suffix=".php">tests/TestCase/</directory>
        </testsuite>
    </testsuites>
</phpunit>
