<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" convertDeprecationsToExceptions="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src/</directory>
    </include>
    <exclude>
      <file>src/DependencyInjection/AlgoliaSearchExtension.php</file>
      <file>src/Services/NullSearchService.php</file>
    </exclude>
    <report>
      <clover outputFile="./clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="KERNEL_CLASS" value="Algolia\SearchBundle\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="false"/>
    <env name="ALGOLIA_PREFIX" value="sf_phpunit_"/>
    <env name="CIRCLE_BUILD_NUM" value=""/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="TestCase">
      <directory suffix=".php">tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
