# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.1

executors:
  php-docker: # declares a reusable executor
    parameters:
      version:
        description: "PHP version tag"
        type: string
    docker:
        - image: cimg/php:<<parameters.version>>

jobs:
  test:
    parameters:
      version:
        description: "PHP version tag"
        type: string
      symfony:
        description: "Symfony framework version tag"
        type: string

    executor:
      name: php-docker
      version: <<parameters.version>>

    steps:
      - checkout

      - run:
          name: Add PHP8 APT repository
          command: sudo add-apt-repository ppa:ondrej/php -y
      - run: sudo apt-get update
      - run: sudo apt-get install -y php<<parameters.version>>-zip php<<parameters.version>>-sqlite3

      # Download and cache dependencies
      - restore_cache:
          keys:
            - composer-deps-<<parameters.version>>-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            #- composer-deps-

      - run:
          name: Install dependencies
          command: COMPOSER_MEMORY_LIMIT=-1 composer require "symfony/framework-bundle=<<parameters.symfony>>" -n --prefer-dist

      - save_cache:
          key: composer-deps-<<parameters.version>>-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      # CIRCLE_PR_REPONAME indicates an external contributor PR
      - run:
          name: Get API Key Dealer client
          command: |
            if [ "$CIRCLE_PR_REPONAME" ]; then
              curl -s https://algoliasearch-client-keygen.herokuapp.com | sh >> $BASH_ENV
            fi

      - run:
          name: Run static analysis
          command: if [[ <<parameters.version>> < "8.3" ]]; then composer test:install && composer test:types; fi

      - run:
          name: Check code styles
          command: if [[ <<parameters.version>> < "8.3" ]]; then composer test:lint; fi

      # Run tests with phpunit
      #
      # If the PR is open by an Algolia, we run all the tests
      # with the keys in the env variables
      # If the PR was open from a fork (community PR)
      # we get API keys from the API key dealer https://alg.li/api-key-dealer
      - run:
          name: Run tests
          command: |
            export COMPOSER_PROCESS_TIMEOUT=900
            composer test:unit

workflows:
  workflow:
    jobs:
      - test:
          matrix:
            parameters:
              version: ['8.2', '8.3']
              symfony: ['^7.0']
